<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLNSConnection"
			 connectionString="Server=.\SQLEXPRESS;
                           Database=QlNhanSu_V1;
                           User Id=sa;
                           Password=Sa@123456;
                           TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
