<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLBHConnection"
			 connectionString="Server=localhost;
                           Database=QLNS;
                           User Id=root;
                           Password=123456;
                           SslMode=none;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>